.scroller{
    position:relative;
    position:absolute;
   	width: 84%;
    height: 60%;
    margin: 0px;
    top:16%;
    left:16%;
}

.carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px50px;
    opacity:0;
    transition:all 1.0s ease-in-out;
}

.arrow{
    position:absolute;
    top:0;
    display:block;
    width:20%;
    height:100%;
    background-color:rgba(0,0,0,0);
}

.arrow-prev{
    left:0;
}

.arrow-next{
    right:0;
}

[id^="target-item"]{
display:none;
}

.item-1{
z-index:2;
opacity:1;
}

*:target~.item-1{ 
opacity:0;
}

#target-item-1:target~.item-1{
opacity:1;
}

#target-item-2:target~.item-2,#target-item-3:target~.item-3{
z-index:3;
opacity:1;
}
#target-item-3:target~.item-3,#target-item-4:target~.item-4{
z-index:3;
opacity:1;
}
#target-item-4:target~.item-4,#target-item-5:target~.item-5{
z-index:3;
opacity:1;
}