{% extends 'base.html' %}

{% block title %}<title>About page</title>{% endblock %}

{% block style_content %}
<style>
       	.description{
            grid-column:1/9 ;
            grid-row:1/7 ;
            background-color: #F6F5F3;
            align-self: start;
            justify-self: start;
        }
        .description p{
            font-size: 180%;
        }
        .news{
            grid-column: 9/12;
            grid-row:1/7;
            align-self: start;
        }
        .point{
            height: 30%;
            width: 90%;
            margin:5%;
            background-color:#F6F5F3;
         		
        }
</style>
{% endblock %}

{% block content %}
		<div class="description">
            <p style="font-size: 250%;font-weight:bold"> <i>Time to travel </i></p>

            <p>Сервис Time to travel предназначен для удобного поиска наиболее подходящих для посещения стран по ряду критериев, зависящих от индивидуальных предпочтений и ожиданий пользователя. Сайт предоставляет подробную информацию о выбранных по результатам поиска странах, наиболее популярных турах, последних новостях из мира туризма, а также особенностях путешествий и различных видах отдыха.</p>
        </div>
		<div class="news">
			<div class="point"><img style="width: 100%;height: 60%;" src="../static/news%201.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49462/" style="font-size: 175%;color: #606B59;">Отели Таиланда снизили цены на 90%</a></div>
            <div class="point"><img style="width: 100%;height: 60%;" src="../static/news%202.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49455/" style="font-size: 175%;color: #606B59;">Российские авиакомпании запускают рейсы на Сейшелы</a></div>
            <div class="point"><img style="width: 100%;height: 60%;" src="../static/news%203.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49450/" style="font-size: 175%;color: #606B59;">Лучший курортный остров Европы открылся для туристов</a></div>
		</div>
{% endblock %}