<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}{% endblock %}
	<style>
		.header{
			position:absolute;
   			width: 84%;
    		height: 15%;
    		background-image: url(../static/header_time_to_travel.png);
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: center;
    		margin: 0px;
    		top:0px;
    		left:16%;
		}
		.menu{
    		position: fixed;
    		width: 15%;
   		    height: 100%;
    		top: 0px;
    		left: 0px;
    		background-color: #FAF6F5;
    		background-image: url(../static/fon_menu.jpg);
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: center;
		}
        .menu a{
            padding: 5% 10%;
            text-decoration: none;
            font-size: 175%;
            color: #606B59;
            display: block;
        }
        .menu a:hover{
            color: #606B59;
            background-color: #EDEBEA;
        }
		.wrapper{
			position:absolute;
			left:16%;
			top:77%;
			width: 84%;
			display: grid;
			grid-template-columns: repeat(11,1fr);
			grid-template-rows: repeat(7,1fr);
			grid-gap: 1em;
		}

        .footer{
        	grid-column: 1/12;
        	grid-row:7/8;
        	background-color: #606B59;
        	display: grid;
        	grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            color: #F6F5F3;
            font-size: 120%;
        }
            .info{
            	grid-column:1/2;
            	grid-row:1/3;
            	align-self: start;
            	justify-self:center;
            }
            .help{
            	grid-column:2/3;
            	grid-row:1/3;
            	align-self: start;
            	justify-self:center;
            }
            .contacts{
            	grid-column:3/4;
            	grid-row:1/3;
            	align-self: start;
            	justify-self:center;
            }
	</style>
    {% block style_content %}{% endblock %}
</head>
<body style="font-family:Arial, Verdana, sans-serif;background-color: #F6F5F3;">
	<div class="static">
		<div class="header">
		</div>
		<div class="menu">
            <div style="padding-top: 30%;">
                <p style="padding: 10% 10% 0 10%;text-decoration: none;font-size: 275%;color: #606B59;display: block;font-weight: bold;">Меню</p>
                <a href="/">Главная страница</a>
                <a href="/test">Your destination</a>
                <a href="/contacts">Контакты</a>
                <a href="/about">О нас</a>
            </div>
        </div>
	</div>
    <div class="scroller">
        <span id="target-item-1"></span>
        <span id="target-item-2"></span>
        <span id="target-item-3"></span>
        <span id="target-item-4"></span>
        <span id="target-item-5"></span>
                
        <div class="carousel-item item-1" style="background:url(../static/photo_1_travel.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
                <a class="arrow arrow-prev" href="#target-item-5"></a>
                <a class="arrow arrow-next" href="#target-item-2"></a>
        </div>
        <div class="carousel-item item-2" style="background:url(../static/photo_2_travel.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
                <a class="arrow arrow-prev" href="#target-item-1"></a>
                <a class="arrow arrow-next" href="#target-item-3"></a>
        </div>
        <div class="carousel-item item-3" style="background:url(../static/photo_3_travel.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
                <a class="arrow arrow-prev" href="#target-item-2"></a>
                <a class="arrow arrow-next" href="#target-item-4"></a>
        </div>
        <div class="carousel-item item-4" style="background:url(../static/photo_4_travel.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
                <a class="arrow arrow-prev" href="#target-item-3"></a>
                <a class="arrow arrow-next" href="#target-item-5"></a>
        </div>
        <div class="carousel-item item-5" style="background:url(../static/photo_5_travel.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
                <a class="arrow arrow-prev" href="#target-item-4"></a>
                <a class="arrow arrow-next" href="#target-item-1"></a>
        </div>
                    
    </div>
	<div class="wrapper">
        {% block content %}{% endblock %}
		<div class="footer">
            <div class="info"><p style="font-weight:bold;font-size: 130%;">Информация</p> <p>О нас</p> <p>Стать партнером</p> <p>Новости</p></div>
            <div class="help"><p style="font-weight:bold;font-size: 130%;">Служба поддержки</p> <p>Гайд по использованию</p> <p>FAQ</p></div>
			<div class="contacts"><p style="font-weight:bold;font-size: 130%;">Обратная связь</p> <p>Телефон</p> <p>Почта</p> <p>Instagram</p></div>
		</div>
    </div>
    
</body>
</html>