{% extends 'base.html' %}

{% block title %}<title>team page</title>{% endblock %}

{% block style_content %}
<style>
    .vivod_block{
        grid-column:1/8 ;
        grid-row:1/7 ;
        background-color: #F6F5F3;
        font-size: 160%;
    }
    .vivod_block li{
        padding: 5px 0px;
    }
    .vivod_block a {
        text-decoration: none;
        color: #606B59;
        display: block;
    }
    .vivod_block a:hover {
        color: #00008b;
    }
     .news{
        grid-column: 8/12;
        grid-row:1/7;
        align-self: start;
    }
    .point{
        height: 30%;
        width: 90%;
        margin:5%;
        background-color:#F6F5F3;         		
    }
</style>
{% endblock %}

{% block content %}
<div class="vivod_block">
    <h1>Development team</h1>
    <ul>
        <li><a href="https://vk.com/didodede">Зиняков Юрий</a></li>
        <li><a href="https://vk.com/id155275097">Хайруллин Илья</a></li>
        <li><a href="https://vk.com/miledi_ekaterina">Чумаченко Екатерина</a></li>
        <li><a href="https://vk.com/alyona_alexandrowna">Веселова Алена</a></li>
    </ul>
</div>
<div class="news">
	<div class="point"><img style="width: 100%;height: 60%;" src="../static/news%201.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49462/" style="font-size: 175%;color: #606B59;">Отели Таиланда снизили цены на 90%</a></div>
    <div class="point"><img style="width: 100%;height: 60%;" src="../static/news%202.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49455/" style="font-size: 175%;color: #606B59;">Российские авиакомпании запускают рейсы на Сейшелы</a></div>
    <div class="point"><img style="width: 100%;height: 60%;" src="../static/news%203.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49450/" style="font-size: 175%;color: #606B59;">Лучший курортный остров Европы открылся для туристов</a></div>
</div>
{% endblock %}