{% extends 'base.html' %}

{% block title %}<title>Vivod page</title>{% endblock %}

{% block style_content %}
<style>
    .country{
        grid-column: 1/6;
        grid-row:1/7;
        background-color:#F6F5F3;
        font-size: 125%;
    }
    img{
        grid-column: 6/12;
        grid-row:1/7;
        width: 99%;
    }
</style>
{% endblock %}

{% block content %}
<div class="country">
    <h1>{{count}}</h1>
    <p class="description">{{description}}</p>
</div>
<img class="news" src="{{image}}" alt="[ДАННЫЕ УДАЛЕНЫ]">
{% endblock %}