{% extends 'base.html' %}

{% block title %}<title>Main page</title>{% endblock %}

{% block style_content %}
<style>
       	.description{
            grid-column:1/9 ;
            grid-row:1/7 ;
            background-color: #F6F5F3;
            align-self: start;
            justify-self: start;
        }
        .description p{
            font-size: 180%;
        }
        .news{
            grid-column: 9/12;
            grid-row:1/7;
            align-self: start;
        }
        .point{
            height: 30%;
            width: 90%;
            margin:5%;
            background-color:#F6F5F3;
         		
        }
</style>
{% endblock %}

{% block content %}
		<div class="description">
            <p style="font-size: 250%;font-weight:bold"> <i>Путешествия – это шире, чем «Как добраться?», «Где перекусить?» или «Что купить?»</i></p>

            <p>Time to travel поможет узнать больше о самых необычных путешествиях и подобрать идеальный тур для себя с учетом всех возможных предпочтений.</p>

            <p>На карте мира нет «белых пятен». Современные люди имеют возможность много путешествовать на самолетах, поездах, машинах или даже пешком в самых разных уголках планеты. Зачем все это нужно именно вам?</p>

            <p style="font-size: 180%;font-weight:bold">1. Вы контролируете свою жизнь</p>

            <p>В путешествии вы вольны самостоятельно прокладывать маршрут и контролировать время, которое проводите в том или ином месте. Ваша независимость позволяет принимать решения, основываясь только на том, чего вы хотите. Путешествия дают свободу и ощущение жизни в моменте.</p>

            <p style="font-size: 180%;font-weight:bold">2. Путешествия улучшают эмоциональное здоровье</p>

            <p>Поездки всегда расширяют кругозор и обогащают приятными впечатлениями, что напрямую влияет на эмоциональное здоровье и ощущение удовлетворенности жизнью. Путешествия помогают обрести положительный жизненный настрой и рисовать в уме радостные перспективы.</p>

            <p style="font-size: 180%;font-weight:bold">3. Возможность познакомиться с самим собой</p>

            <p>В путешествиях у вас появляются время и силы, чтобы понять себя. Сталкиваясь с различными неожиданными ситуациями, вы многое узнаете о своих реакциях и чувствах, учитесь объективно смотреть на себя, а иногда и вовсе пересматриваете свои ценности и жизненные принципы. Даже сейчас, готовясь к очередному путешествию и подбирая подходящий тур для себя, вы глубже понимаете себя и свои желания.</p>

            <p style="font-size: 180%;font-weight:bold">4. Вы научитесь решать проблемы и легче относиться к трудностям</p>

            <p>Путешествия могут стать хорошей жизненной школой: нередко придётся принимать сложные решения мгновенно и распутывать серьёзные клубки проблем. Это нелегко, но это лучший способ поверить в себя и узнать, на что вы способны.</p>

            <p> <B>Причин отправиться в путешествие большое множество и, если вы хотите изменить свою жизнь в лучшую сторону – самое время начать сейчас.</B> </p>
        </div>
		<div class="news">
			<div class="point"><img style="width: 100%;height: 60%;" src="../static/news%201.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49462/" style="font-size: 175%;color: #606B59;">Отели Таиланда снизили цены на 90%</a></div>
            <div class="point"><img style="width: 100%;height: 60%;" src="../static/news%202.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49455/" style="font-size: 175%;color: #606B59;">Российские авиакомпании запускают рейсы на Сейшелы</a></div>
            <div class="point"><img style="width: 100%;height: 60%;" src="../static/news%203.jpg"><a target="_blank" href="https://www.tourprom.ru/news/49450/" style="font-size: 175%;color: #606B59;">Лучший курортный остров Европы открылся для туристов</a></div>
		</div>
{% endblock %}