{% extends 'base.html' %}

{% block title %}<title>Form page</title>{% endblock %}

{% block style_content %}
<style>
       	.form_block{
            grid-column:1/8 ;
            grid-row:1/7 ;
            background-color: #F6F5F3;
        }

* {
box-sizing: border-box;
}

.decor {
   position: relative;
   max-width: 550px;
   min-width: 550px;
   margin: 50px auto 20px;
   background: white;
   border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   background: #F6F5F3;
   border-radius: 20px;
}
.form-left-decoration {
   bottom: 60px;
   left: -30px;
}
.form-right-decoration {
   top: 60px;
   right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
   content: "";
   position: absolute;
   width: 50px;
   height: 20px;
   border-radius: 30px;
   background: white;
}
.form-left-decoration:before {
   top: -20px;
}
.form-left-decoration:after {
   top: 20px;
   left: 10px;
}
.form-right-decoration:before {
   top: -20px;
   right: 0;
}
.form-right-decoration:after {
   top: 20px;
   right: 10px;
}
.circle {
   position: absolute;
   bottom: 80px;
   left: -55px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background: white;
}
    .form-inner {
   padding: 50px;
}
.form-inner input {
   
   padding: 0 20px;
   margin-bottom: 10px;
   background: #E9EFF6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: 'Roboto', sans-serif;
    
}
.form-inner label {
    display: block;
    float: right;
    width: 425px;
    font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
    margin-top: 30px;
    width: 100%;
    background: #f69a73;
    border-bottom: 4px solid #d87d56;
    color: white;
    font-size: 14px;
}
.form-inner p {
   margin-top: 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   font-size: 24px;
   color: #707981;
}
</style>
{% endblock %}

{% block content %}
<div class="form_block" >
    <form class="decor" method="post">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
	<p>Выберите вид отдыха, который вас интересует (возможен выбор нескольких вариантов): </p>
        <input id="tip1" type="checkbox" name="Pl" value="1"><label for="tip1">Пляжный</label>
        <input id="tip2" type="checkbox" name="Gor" value="1"><label for="tip2">Горнолыжный</label>
        <input id="tip3" type="checkbox" name="Exc" value="1"><label for="tip3">Экскурсионный</label>
        <input id="tip4" type="checkbox" name="Ext" value="1"><label for="tip4">Экстремальный</label>
        <input id="tip5" type="checkbox" name="Sh" value="1"><label for="tip5">Шоппинг</label>
        <input id="tip6" type="checkbox" name="Spa" value="1"><label for="tip6">Лечение и СПА</label>
        <input id="tip7" type="checkbox" name="Sem" value="1"><label for="tip7">Семейный</label>
        <input id="tip8" type="checkbox" name="type" value="contry"><label for="tip8">Не имеет значения</label>
    <p>Выберите предпочтительную стоимость аренды жилья в месяц: </p>
        <input id="price1" type="radio" name="price" value="Низкая"><label for="price1">Низкая (до 30 тыс. рублей)</label>
        <input id="price2" type="radio" name="price" value="Средняя"><label for="price2">Средняя (от 30 до 50 тыс. рублей)</label>
        <input id="price3" type="radio" name="price" value="Выше среднего"><label for="price3">Выше среднего (от 50 до 70 тыс. рублей)</label>
        <input id="price4" type="radio" name="price" value="Высокая"><label for="price4">Высокая (от 70 тыс. рублей)</label>
        <input id="price5" type="radio" name="price" value="Не важно"><label for="price5">Не имеет значения</label>
    <p>Виза: </p>
        <input id="visa1" type="radio" name="visa" value="1"><label for="visa1">Визовый въезд</label>
        <input id="visa2" type="radio" name="visa" value="0"><label for="visa2">Безвизовый въезд</label>
        <input id="visa3" type="radio" name="visa" value="2"><label for="visa3">Не имеет значения</label>
    <p>Выберите период вашего путешествия (возможен выбор нескольких вариантов): </p>
        <input id="time1" type="checkbox" name="Jan" value="1"><label for="time1">Январь</label>
        <input id="time2" type="checkbox" name="Feb" value="1"><label for="time2">Февраль</label>
        <input id="time3" type="checkbox" name="Mar" value="1"><label for="time3">Март</label>
        <input id="time4" type="checkbox" name="Apr" value="1"><label for="time4">Апрель</label>
        <input id="time5" type="checkbox" name="May" value="1"><label for="time5">Май</label>
        <input id="time6" type="checkbox" name="Jun" value="1"><label for="time6">Июнь</label>
        <input id="time7" type="checkbox" name="Jul" value="1"><label for="time7">Июль</label>
        <input id="time8" type="checkbox" name="Aug" value="1"><label for="time8">Август</label>
        <input id="time9" type="checkbox" name="Sep" value="1"><label for="time9">Сентябрь</label>
        <input id="time10" type="checkbox" name="Oct" value="1"><label for="time10">Октябрь</label>
        <input id="time11" type="checkbox" name="Nov" value="1"><label for="time11">Ноябрь</label>
        <input id="time12" type="checkbox" name="Dec" value="1"><label for="time12">Декабрь</label>
        <input id="time13" type="checkbox" name="time" value="contry"><label for="time13">Не имеет значения</label>
    <p>Выберите зону отдыха (возможен выбор нескольких вариантов): </p>
        <input id="zone1" type="checkbox" name="Eu" value="1"><label for="zone1">Европа </label>
        <input id="zone2" type="checkbox" name="As" value="1"><label for="zone2">Азия </label>
        <input id="zone3" type="checkbox" name="NA" value="1"><label for="zone3">Северная Америка </label>
        <input id="zone4" type="checkbox" name="SA" value="1"><label for="zone4">Южная Америка </label>
        <input id="zone5" type="checkbox" name="AO" value="1"><label for="zone5">Австралия и Океания </label>
        <input id="zone6" type="checkbox" name="Af" value="1"><label for="zone6">Африка </label>
        <input id="zone7" type="checkbox" name="zone" value="contry"><label for="zone7">Не имеет значения </label>
        <input type="submit" >
 		</div>
    </form>
</div>
{% endblock %}